{% extends "templates/html/base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="templates/css/altausuario.css"/>
{% endblock %}
{% block main %}
<div class="flex-container flex-direction-column">
	<h1>Registrarse</h1>
	<section id="formulario-datos">
		<form action="#" method="post" >
			<label for="datos-nombre">Nombre</label>
			<input type="text" name="nombre" id="datos-nombre" required="">
			<label for="datos-apellidos">Apellidos</label>
			<input type="text" name="apellidos" id="datos-apellidos" required="">
			<label for="datos-edad">Edad</label>
			<input type="number" name="edad" id="datos-edad">
			<label for="datos-email">E-mail</label>
			<input type="email" name="email" id="datos-email" required="">
			<label for="datos-tfn">Teléfono</label>
			<input type="tel" name="tfn" id="datos-tfn" required="">
			<label for="datos-password">Contraseña</label>
			<input type="password" name="password" id="datos-password" required="">
			<input type="text" name="action" value="insertarUsuario" required="" hidden="">
		</form>
		<div class="flex-container justify-content-center">
			<button onclick="validarUsuario()">Enviar</button>
		</div>
		{% if mensaje %}
			<p>{{mensaje}}</p>
		{% endif %}
	</section>
</div>
{% endblock %}
{% block javaScript %}
<script src="templates/js/altausuario.js"></script>
{% endblock %} 


