<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Recomendación de libros</title>
    <link rel="stylesheet" type="text/css" href="templates/css/base.css"/>
    {% block css %}{% endblock %}
</head>
<body class="flex-container flex-direction-column align-items-center">
	<div id="contenedor-principal">
		<header class="flex-container align-items-center bordes justify-content-space-around">
			<section id="header-logo">
				<a href="index.php"><img id="header-logo-imagen" src="templates/img/logo.jpg"></a>
			</section>
			<section  id="header-nombre">
				<p>Sistema de recomendación de libros</p>
			</section>
			<section id="header-login">
				{% if nombreUsuario %}
					<p>Bienvenido {{ nombreUsuario }}</p>
					<button onclick="desconectarse()">Desconectarse</button>
				{% else %}
					<form class="flex-container flex-direction-column" id="header-formulario-login" method="post">
						<label for="usuario">Usuario</label>
						<input type="email" name="email">
						<label for="contrasena">Contraseña </label>
						<input type="password" name="password">
						<input type="text" name="action" value="login" hidden="">
						<input type="submit" name="Enviar" value="Enviar">
					</form>
					{% if mensajeLogin %}
					<p>{{mensajeLogin}}</p>
					{% endif %}
					<a href="altausuario.php">Formulario de alta</a>
				{% endif %}
			</section>
		</header>
				{% if nombreUsuario %}
		<nav id="menu-principal" class="flex-container justify-content-space-around align-items-center">
			<a href="mislibros.php">Mis Libros</a>
			<a href="foro.php">Foro</a>
			<a href="datospersonales.php">Mis Datos</a>
			<a href="recomendaciones.php">Mis Recomendaciones</a>
		</nav>
		{% endif %}
		<main>
			{% block main %}{% endblock %} 
		</main>
		<footer class="bordes">
			<section class="flex-container flex-direction-row justify-content-space-around align-items-center">
				<a href="contacto.php">Contacto</a>
				<p>--</p>
				<a href="templates/pdf/Practica.pdf">Cómo se hizo</a>
			</section>
		</footer>
	</div>
	<script src="templates/js/base.js"></script>
	{% block javaScript %}{% endblock %} 
</body>
</html>