{% extends "templates/html/base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="templates/css/libro.css"/>
{% endblock %}
{% block main %}
{% if libro %}
<div class="flex-container flex-direction-column justify-content-space-around bordes">
	<section  class="flex-container" id="informacion-libro">
		<section class="flex-container justify-content-center align-items-center" id="libro-img">
			<div class="flex-container align-items-center justify-content-center" class="bordes" >
				<img src="templates/img/imagen-relacionada.jpg">
			</div>
		</section>
		<section id="libro-info">
			<dl>
				<dt>Título:</dt>
				<dd>{{libro.getTitulo()}}</dd>
				<dt>Autor:</dt>
				<dd>{{libro.getAutor()}}</dd>
				<dt>Editorial:</dt>
				<dd>{{libro.getEditorial()}}</dd>
				<dt>Edición:</dt>
				<dd>{{libro.getEdicion()}}</dd>
			</dl>
		</section>
	</section>
	<section id="descripcion-libro">
		<h2>Descripción</h2>
		<p>
			{{libro.getDescripcion()}}
		</p>
	</section>
	<section id="valoracion-libro">
		<h2>Valoración media: {{valoracionMedia}} ({{numValoraciones}})</h2>
	</section>
	<hr/>
	<section id="opiniones-libro">
		<h2>Opiniones</h2>
		<section class="flex-container flex-wrap-wrap justify-content-space-around" id="opiniones">
			{% for i in 1..6 %}
			{% include 'templates/html/componentes/opinion.html' %}
			{% endfor %}
		</section>
		<nav class="flex-container justify-content-space-around  ">
			<a href="#">Siguiente</a>
			<a href="#">Anterior</a>
		</nav>
	</section>
	<section class="flex-container justify-content-space-around" id="valorar-libro">
		<a href="valoracion_libro.php">Valorar libro</a>
	</section>
</div>
{% else %}
<p>Libro no encontrado</p>
{% endif %}
{% endblock %}
