{% extends "templates/html/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="templates/css/mislibros.css"/>
{% endblock %}
{% block main %}
<div class="flex-container justify-content-space-around bordes flex-wrap-wrap">
	<section class="bordes" id="libros-leidos-usuario">
		<h2>Últimos libros leidos</h2>
			<section id="libros-leidos-usuario-libros">
				{% include 'templates/html/componentes/librosLeidosUsuario.html' %}
				{% include 'templates/html/componentes/librosLeidosUsuario.html' %}
				{% include 'templates/html/componentes/librosLeidosUsuario.html' %}
				{% include 'templates/html/componentes/librosLeidosUsuario.html' %}
				{% include 'templates/html/componentes/librosLeidosUsuario.html' %}
			</section>
	</section>
	<section class="bordes" id="ultimos-libros-añadidos">
		<h2>Últimos libros añadidos</h2>
		<section class="flex-container flex-direction-column" id="ultimos-libros-añadidos-libros">
			<a href="libro.php">Titulo Libro</a>
			<a href="libro.php">Titulo Libro</a>
			<a href="libro.php">Titulo Libro</a>
			<a href="libro.php">Titulo Libro</a>
		</section>
		<a id="link-dar-alta-libro" href="altalibro.php">Dar de alta un nuevo libro</a>
	</section>
</div>
{% endblock %}
