<form>
	<label id="datos-nombre">Nombre</label>
	<input type="text" name="nombre" id="datos-nombre">
	<label id="datos-apellidos">Apellidos</label>
	<input type="text" name="apellidos" id="datos-apellidos">
	<label id="datos-edad">Edad</label>
	<input type="number" name="edad" id="datos-edad">
	<label id="datos-email">E-mail</label>
	<input type="email" name="email" id="datos-email">
	<label id="datos-password">Contraseña</label>
	<input type="password" name="password" id="datos-password">
	<input type="submit" name="submit" value="Enviar">
</form>