<article class="hilo flex-container justify-content-center">
	<section class="hilo-imagenes-miniatura flex-container justify-content-center align-items-center">
		<img src="templates/img/imagen-relacionada.jpg">
	</section>
	<section class="hilo-datos">
		<section class="hilo-titulo"><a href="hiloForo.php"><h2>Titulo</h2></a></section>
		<section class="hilo-descripcion">
			<p>
			Descripcion:
			Donec sollicitudin venenatis bibendum. Pellentesque sed vestibulum lorem, eget porta dolor. Quisque sit amet dolor non metus tempor molestie. Pellentesque vehicula sed nulla ac ultrices. Etiam dictum libero sit amet tempus volutpat. Nullam vitae massa lorem. Phasellus fermentum dui vel libero vestibulum ultrices
		</p>
	</section>
	</section>
	<section class="hilo-numero-mensajes flex-container justify-content-center align-items-center">
		<p>100</p>
	</section>
	<section class="hilo-ultimo-mensaje flex-container justify-content-center align-items-center flex-container flex-direction-column justify-content-center align-items-center">
		<section class="hilo-ultimo-mensaje-usuario">
			<p>Usuario</p>
		</section>
		<section class="hilo-ultimo-mensaje-fecha">
			<p><time>XX/XX/XXXX</time></p>
		</section>
	</section>
</article>