<article class="libro-recomendado flex-container align-items-center">
	<section class="flex-container align-items-center justify-content-center libro-recomendado-img">
		<div class="flex-container align-items-center justify-content-center">
			<img src="templates/img/imagen-relacionada.jpg">
		</div>
	</section>
	<section class="libro-recomendado-info flex-container align-items-center">
		<div>
			<a href="libro.php"><h2>Libro</h2></a>
			<h2>Autor</h2>
		</div>
		<p>
			Sed sit amet velit hendrerit, sagittis massa quis, blandit mauris. Nam nec mattis nulla. Nulla facilisis lorem eu facilisis maximus. Duis convallis tempus massa, vel mattis dolor tristique et. Phasellus id mauris convallis nibh feugiat tincidunt eu at ipsum...
		</p>
	</section>
</article>