<article class="mensaje-hilo flex-container justify-content-center">
	<section class="mensaje-hilo-autor">
		<section class="mensaje-hilo-autor-autor">
			<p>Autor: Nombre autor</p>
		</section>
		<section class="mensaje-hilo-autor-estado">
			<p>Estado: Desconectado</p>
		</section>
	</section>
	<section class="mensaje-hilo-mensaje">
		<section class="mensaje-hilo-mensaje-fecha">
			<p>Enviado: <time>XX-XX-XXXX</time></p>
		</section>
		<section class="mensaje-hilo-mensaje-mensaje">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate ante justo, nec egestas lorem euismod sit amet. Nulla dictum libero ac tincidunt malesuada. Quisque ante lectus, commodo sit amet leo sollicitudin, ornare fringilla ipsum. Cras bibendum porttitor fringilla. Nunc eget iaculis orci. Suspendisse tincidunt libero dolor, ut elementum turpis dictum nec. Curabitur non maximus nisi, ac bibendum arcu. Etiam dignissim diam in mauris mollis, at tincidunt erat imperdiet. Suspendisse sapien enim, volutpat eu bibendum ut, placerat sit amet mauris. Nullam convallis faucibus mi non consectetur. Sed laoreet sapien elit, vitae dapibus tellus fermentum sit amet. Ut sem velit, blandit ut nisi sit amet, malesuada pharetra ligula. Phasellus pretium lorem a venenatis ullamcorper. Sed sed venenatis lorem, eget lacinia eros. Integer vitae libero tellus
			</p>
		</section>
	</section>
</article>